<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="credit">
	<select id="seq" resultType="Integer">
		SELECT wallet_seq.NEXTVAL FROM dual
	</select>
	<insert id="insertCredit" parameterType="com.bs.wd.credit.Credit">
		INSERT INTO mywallet(num, userId, amount, price, buy_date, state) VALUES(#{num}, #{userId}, #{amount}, #{price}, SYSDATE, 0)
	</insert>
	<insert id="insertExchange" parameterType="map">
		INSERT INTO creatorWallet(creatorName, buyerId, buy_date, amount, state) VALUES ( #{userId}, #{userId} , SYSDATE, #{amount}, 1)	
	</insert>
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM mywallet w
		JOIN member1 m ON w.userId=m.userId
		WHERE w.userId=#{userId}
	</select>
	<select id="listCredit" parameterType="map" resultType="com.bs.wd.credit.Credit">
		SELECT * FROM (
			SELECT ROWNUM rnum, tb.* FROM (
				SELECT w.num, w.userId, amount, price, buy_date, state
				FROM mywallet w
				JOIN member1 m ON w.userId=m.userId
				WHERE w.userId=#{userId} and state=0
				ORDER BY num DESC
			) tb WHERE ROWNUM &lt;= #{end}
		) WHERE rnum &gt;= #{start}
	</select>
	<select id="myCookie" parameterType="String" resultType="Integer">
		SELECT NVL(SUM(amount), 0)
		FROM mywallet
		WHERE userId=#{userId}
	</select>
	<insert id="refundRequest" parameterType="com.bs.wd.credit.Credit">
		INSERT INTO refundCookie(num, refund_date, amount, price, userId, cookieNum)
		VALUES(cookieRefund_seq.NEXTVAL, SYSDATE, #{amount}, #{price}, #{userId}, #{num})
	</insert>
	<update id="creditStateUpdate" parameterType="Integer">
		UPDATE myWallet SET state = 1
		WHERE num=#{num}
	</update>
	<delete id="refundOk" parameterType="Integer">
		DELETE FROM mywallet
		WHERE num=#{num} AND state=1
	</delete>
	<select id="useCookie" parameterType="map" resultType="Integer">
		SELECT NVL(sum(amount), 0)
		FROM useCookie
		WHERE userId=#{userId} and state=0
	</select>
	<select id="listUse" parameterType="map" resultType="com.bs.wd.credit.Credit">
		SELECT * FROM (
			SELECT ROWNUM rnum, tb.* FROM (
				SELECT u.num, u.userId, amount, courseName, use_date, state, courseNum
				FROM useCookie u
				JOIN member1 m ON u.userId=m.userId
				WHERE u.userId=#{userId}
				ORDER BY num DESC
			) tb WHERE ROWNUM &lt;= #{end}
		) WHERE rnum &gt;= #{start}
	</select>
	<select id="useCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM useCookie u
		JOIN member1 m ON u.userId=m.userId
		WHERE u.userId=#{userId}
	</select>
	<delete id="refundCourse" parameterType="map">
		DELETE FROM courseBuy
		WHERE num=#{courseNum} AND userId=#{userId}
	</delete>
	<update id="refundStateUpdate" parameterType="Integer">
		UPDATE useCookie SET state = 1
		WHERE num=#{num}
	</update>
	<update id="refundCourseOk" parameterType="map">
		UPDATE creatorWallet SET refund = 1
		WHERE courseNum=#{courseNum} and buyerId=#{userId}
	</update>
	<select id="creatorCookie" parameterType="String" resultType="Integer">
		SELECT NVL(SUM(amount), 0)
		  FROM creatorWallet
		 WHERE creatorName=#{userId} AND (refund=0 OR refund IS NULL)
	</select>
	<select id="listWithdraw" parameterType="map" resultType="com.bs.wd.creator.withdraw.Withdraw">
		SELECT * FROM (
			SELECT ROWNUM rnum, tb.* FROM (
				SELECT buy_date, amount
				  FROM creatorWallet
				 WHERE creatorName=#{userId} and refund=0
				 ORDER BY buy_date DESC
			) tb WHERE ROWNUM &lt;= #{end}
		) WHERE rnum &gt;= #{start}

	</select>
	<select id="dataCountWithcount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		  FROM creatorWallet w
  	     WHERE creatorName=#{userId} and refund=0
	</select>
</mapper>