<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="credit">
	<select id="seq" resultType="Integer">
		SELECT wallet_seq.NEXTVAL FROM dual
	</select>
	<insert id="insertCredit" parameterType="com.bs.wd.credit.Credit">
		INSERT INTO mywallet(num, userId, amount, price, buy_date, state) VALUES(#{num}, #{userId}, #{amount}, #{price}, SYSDATE, 0)
	</insert>
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM mywallet w
		JOIN member1 m ON w.userId=m.userId
		WHERE w.userId=#{userId}
	</select>
	<select id="listCredit" parameterType="map" resultType="com.bs.wd.credit.Credit">
		SELECT * FROM (
			SELECT ROWNUM rnum, tb.* FROM (
				SELECT w.num, w.userId, amount, price, buy_date, state
				FROM mywallet w
				JOIN member1 m ON w.userId=m.userId
				WHERE w.userId=#{userId}
				ORDER BY num DESC
			) tb WHERE ROWNUM &lt;= #{end}
		) WHERE rnum &gt;= #{start}
	</select>
	<select id="myCookie" parameterType="String" resultType="Integer">
		SELECT NVL(SUM(amount), 0)
		FROM mywallet
		WHERE userId=#{userId}
	</select>
	<insert id="refundRequest" parameterType="com.bs.wd.credit.Credit">
		INSERT INTO refundCookie(num, refund_date, amount, price, userId, cookieNum)
		VALUES(cookieRefund_seq.NEXTVAL, SYSDATE, #{amount}, #{price}, #{userId}, #{num})
	</insert>
	<update id="creditStateUpdate" parameterType="Integer">
		UPDATE myWallet SET state = 1
		WHERE num=#{num}
	</update>
	<update id="refundPermit" parameterType="Integer">
		UPDATE myWallet SET state = 2
		WHERE num=#{num}
	</update>
	<update id="refundDeny" parameterType="Integer">
		UPDATE myWallet SET state = 0
		WHERE num=#{num}
	</update>
	<delete id="refundOk" parameterType="Integer">
		DELETE FROM mywallet
		JOIN refundCookie ON num = cookieNum
		WHERE num=#{num} AND state=2
	</delete>
	<select id="useCookie" parameterType="map" resultType="Integer">
		SELECT NVL(sum(amount), 0)
		FROM useCookie
		WHERE userId=#{userId}
	</select>
	<select id="listUse" parameterType="map" resultType="com.bs.wd.credit.Credit">
		SELECT * FROM (
			SELECT ROWNUM rnum, tb.* FROM (
				SELECT u.num, u.userId, amount, courseName, use_date, state
				FROM useCookie u
				JOIN member1 m ON u.userId=m.userId
				WHERE u.userId=#{userId}
				ORDER BY num DESC
			) tb WHERE ROWNUM &lt;= #{end}
		) WHERE rnum &gt;= #{start}
	</select>
	<select id="useCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM useCookie u
		JOIN member1 m ON u.userId=m.userId
		WHERE u.userId=#{userId}
	</select>
</mapper>